<!DOCTYPE html>
<html lang="en">
<head>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <title>Question Dashboard</title>
    
</head>
<body>

    <div class="container-dashboard">

        <h1>Question Dashboard</h1>
    <!--Tabla Bootstrap-->
    <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">Question</th>
            <th scope="col">Tags</th>
            </tr>
        </thead>
        <tbody>

          <%  questions.forEach(function(question){ %>
                <tr>
                    <td><a href="questions/<%=question.id%>"><%=question.title%></a></td>
                    <td><%=question.tags%></td>
                </tr>
         <%  });  %>

            
        </tbody>
    </table>
    <a href="/questions/new" id="new-question">New Question</a>

    </div>
    
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>